* {
    margin: 0;
    padding: 0;
}


body {
    background-color: #407beb;
    font-family: 'DotGothic16', sans-serif;
}

.top {
    display: flex;
}

.navigation {
    margin-top: 40px;
    margin-left: 40px;
}

nav li {
    list-style-type: none;
    margin-bottom: 30px;
    text-align: center;
}

nav a {
    text-decoration: none;
    font-size: 40px;
    color: #fff;
    /*    background-color: #5d63f8;*/
    padding: 10px;

}

.fbutton {
    position: relative;
    display: inline-block;
    text-decoration: none;
}

.fbutton::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #fce21a;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: transform .3s;
}

.fbutton:hover::after {
    transform: scale(1, 1)
}



#left {
    float: left;

}

#mainbar {
    float: left;
    width: 650px;
    height: 670px;
    margin: 0px 12px;
    /*    background: #001ae5;*/
    padding: 8px;
}

#mainbar img {
    margin-bottom: 16px;
    margin-top: 20px;

}

.slider {
    width: 650px;
    height: 674px;
}


#right {
    padding: 8px 8px 0px;
}



.AI {
    margin-top: 20px;
}

.naisou {
    margin-top: 22px;
}

#jikann {
    margin-top: 50px;
    text-align: center;
}

h1 {
    position: relative;
    display: inline-block;
    padding: 0 45px;
    font-size: 40px;
}

h1:before,
h1:after {
    content: '';
    position: absolute;
    top: 50%;
    display: inline-block;
    width: 44px;
    height: 2px;
    background-color: black;
    -webkit-transform: rotate(-60deg);
    transform: rotate(-60deg);
}

h1:before {
    left: 0;
}

h1:after {
    right: 0;
}

p {
    font-size: 25px;
    margin-top: 10px;
    margin-left: 15px;
}



#basyo {
    margin-top: 50px;
    text-align: center;
}

h2 {
    position: relative;
    display: inline-block;
    padding: 0 45px;
    font-size: 40px;
}

h2:before,
h2:after {
    content: '';
    position: absolute;
    top: 50%;
    display: inline-block;
    width: 44px;
    height: 2px;
    background-color: black;
    -webkit-transform: rotate(-60deg);
    transform: rotate(-60deg);
}

h2:before {
    left: 0;
}

h2:after {
    right: 0;
}



#osusume {
    margin-top: 80px;
    text-align: center;

}

p.new {
    position: absolute;
    color: #f7f4f4;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #d43232;
    line-height: 65px;
    top: 0;
    left: 200px;


}

.gazou {
    flex-direction: row;
    display: flex;
    justify-content: center;
    /*    align-items: center;*/


}

.left-box {
    margin-right: 40px;
    margin-left: 20px;
}

.left-box img {
    height: 300px;
    width: 300px;
}

.center-box {
    margin-right: 40px;
}

.center-box img {
    height: 300px;
    width: 300px;
}

.right-box {
    position: relative;
}

.right-box img {
    height: 300px;
    width: 300px;
}



h3 {
    position: relative;
    display: inline-block;
    padding: 0 45px;
    font-size: 40px;
}

h3:before,
h3:after {
    content: '';
    position: absolute;
    top: 50%;
    display: inline-block;
    width: 44px;
    height: 2px;
    background-color: black;
    -webkit-transform: rotate(-60deg);
    transform: rotate(-60deg);
}

h3:before {
    left: 0;
}

h3:after {
    right: 0;
}



#miryoku {
    margin-top: 50px;
    text-align: center
}

.right-p img {

    width: 200px;
    height: 200px;
}

/*
.left-p {
    margin-left: 800px;
}
*/

.left-i img {
    margin-left: 50px;
    width: 350px;
    height: 250px;
}

.left-i {
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;

}

.ai {
    margin-top: 20px;
}

.ai img {
    /*    margin-left: 1000px;*/
    width: 400px;
    height: 350px;


}

h4 {
    position: relative;
    display: inline-block;
    padding: 0 45px;
    font-size: 40px;
}

h4:before,
h4:after {
    content: '';
    position: absolute;
    top: 50%;
    display: inline-block;
    width: 44px;
    height: 2px;
    background-color: black;
    -webkit-transform: rotate(-60deg);
    transform: rotate(-60deg);
}

h4:before {
    left: 0;
}

h4:after {
    right: 0;
}






.saigo {
    flex-direction: row;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    text-align: center;

}

.saigo img {
    width: 400px;
    height: 300px;
    margin-left: 50px;
}

/*ここまで全てに共通のスタイル*/


/*ここからスマホ用のスタイル*/
@media all and (max-width:480px) {

    /*    トップページ*/
    .top {
        flex-direction: column;
    }

    #mainbar {
        /*        background-attachment: scroll;*/
        order: 1;
    }

    .slider {
        width: 70vw;
        height: 90vh;

    }

    #left {
        order: 2;
    }

    #right {
        order: 3;
        max-width: 960px;
        margin: 0 auto;
    }

    .AI {
        width: 100%;
    }

}
